body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
}

/* =================
   Typography
   ================= */

h1 {
  font-size: 2.25em;
  font-weight: 300;
  color: #fff;
  /* margin: 2em 0; */
}

h1 + p {
  color: #f18119;
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.3125em;
}

h2 + p {
  font-weight: 900;
  color: #f18119;
  text-transform: uppercase;
}

h2 ~ p {
  margin-bottom: 1em;
}

strong {
  font-weight: 900;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

.top-text {
  font-size: 0.625rem;
  font-weight: 900;
  color: #f18119;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 0.2em;
  border-top: 5px solid #f18119;
  border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
}

/* =================
   Intro section 
   ================= */

.intro {
  background-color: #404040;
  background-image: url(img/dark-ribs.jpg);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  padding: 0 0.5em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}

.top-text {
  order: -1;
}

/* =================
   Main content 
   ================= */

.main-content {
  padding: 2em 1em;
}

.intro > *,
.main-content > * {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* =================
   form: email collector
   ================= */

.email-collector {
  width: 80%;
  max-width: 300px;
}

input,
.btn {
  width: 100%;
  margin-bottom: 0.75em;
  border-radius: 5px;
}

input {
  padding: 0.25em;
  border: 1px solid #404040;
  transition: transform 250ms;
}

input:focus {
  transform: scale(1.1);
}

.btn {
  display: inline-block;
  padding: 1em 1.5em;
  font-size: 0.625rem;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 900;
}

.btn-primary {
  color: #fff;
  letter-spacing: 2px;
  background-image: linear-gradient(90deg, #ffa51d, #ff713b);
  transition: transform 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
  transform: scale(1.1);
}

/* =================
   media queries 
   ================= */

@media screen and (min-width: 495px) {
  body {
    display: flex;
    font-size: 1.125rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2,
  h1 + p {
    font-size: 1.75rem;
  }

  .intro,
  .main-content {
    width: 50%;
    min-height: 100vh;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
